header {
  padding: 10px;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .siteHeader {
    display: flex;
    align-items: center;
    gap: 5px;
    .logoDetails{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .siteInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
        margin: 10px;
      }

    }
  }
  nav {
    ul {
      display: flex;
      list-style: none;
      li {
        display: inline-block;
        a {
          display: inline-block;
          padding: 10px 15px;
          border-radius: 5px;
          text-align: center;
          text-decoration: none;
          color: var(--on-primary);
          font-weight: bold;
          

          font-size: 20px;
          &:hover {
            color: var(--on-acent-hover);
          background-color: var(--acent-hover);
          text-shadow: 2px 2px 4px #000000, -2px -2px 4px #ffffff;
          
          }
        }
      }
    }
  }
}

@media (max-width: 1068px) {
  header {
    nav {
      position: fixed;
      top: 0%;
      left: -100%;
      width: 100%;
      background-color: var(--transparent);
      transition: left 0.3s ease-in-out;
      z-index: 100;

      ul {
        display: flex;
        width: 100%;
        gap: 2px;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;

        li {
          display: inline-block;
          width: 100%
          a {
            width: 100%;
            padding: 15px 0;
            font-size: 18px;
            text-align: center;
          }
        }
      }
    }
  }
}
